.articles {
  position: relative;
  overflow: hidden;
}

.img-block-articles {
  margin-bottom: 10px;
  max-width: 200px;
  max-height: 100px;
}

.link-article {
  color: black;
}

.block-articles {
  min-width: 25vw;
}

.list-article {
  display: flex;
}

.more {
  font-weight: 900;
}

.block-more {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25vw;
  max-width: 200px;
  max-height: 100px;
  margin-top: 5vh;
}

#next {
  right: 0;
}

#previous {
  left: 0;
}

#next,
#previous {
  z-index: 99;
  position: absolute;
  cursor: pointer;
  height: 100%;
  color: black;
  border-color: grey;
  background: rgba(255 255 255 / 50%);
  width: 30px;
}

@media screen and (max-width: 700px) {
  #next,
  #previous {
    display: none;
  }

  .list-article {
    flex-direction: column;
  }
}
