.articles {
  position: relative;
  overflow: hidden;
}

.img_block-articles {
  margin-bottom: 10px;
  max-width: 200px;
  max-height: 100px;
}

.link_article {
  color: black;
}

.block_articles {
  min-width: 23vw;
  margin-left: 20px;
}

.listArticle {
  display: flex;
}

#next {
  right: 0vw;
}

#previous {
  left: 0vw;
}

#next, #previous {
  cursor: pointer;
  height: 100%;
  position: absolute;
  color: black;
  border-color: grey;
  background: rgba(255, 255, 255, .5);
}
